<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitmagic</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/index.css">
        
</head>
<body >
  <div class="Header2">
    <div class="Nav">
    <a class ="brandHome" href="./"><img src="" width="38px">Bitmagic</a>
    </div>
</div>

  <div class = "Landing">
    <div class = "stackVieww">
      
      <h1>Welcome to Bitmagic.</h1>
      <p>find the answer.</p>
      <div id = "container2">
      
      <h2> Choose .</h2>
      <div class = "CardGroup">
        <div class = "city">
          <a href="/patients/login"><img src="images/pat.png"></img>Patient</a>
        </div>
        <div class = "city">
          <a href="/doctors/login"><img src="images/doc.png"></img>Doctor</a>
        </div>
        
      </div>
      
  </div>
  
</div>

<script>
  
</script>
</body>
</html>